/* ОБНУЛЯЮЩИЕ СТИЛИ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    transition: all .3s;
    font-family: 'Nunito', sans-serif;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

img,
video,
picture,
canvas,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/* ОБНУЛЯЮЩИЕ СТИЛИ */



/* ПЕРЕМЕННЫЕ */
:root {
    --main-color: #131735;
    --dark-color: #222;
    --big-fz: calc(25px + (45 - 25) * ((100vw + 300px) / (1500 - 300)));
    --medium-fz: calc(20px + (35 - 20) * ((100vw + 300px) / (1500 - 300)));
    --small-fz: calc(12px + (18 - 12) * ((100vw + 300px) / (1500 - 300)));
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}
/* ПЕРЕМЕННЫЕ */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
}

section {
    min-height: 100%;
    padding: 0rem 8%;
}

.btn {
    padding: 0.7rem 3rem;
    font-size: var(--small-fz);
    background-color: var(--dark-color);
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

.btn:hover {
    box-shadow: 0 .5rem 20.5rem rgb(53, 243, 53);
}

.heading {
    text-align: center;
    color: #fff;
    font-size: var(--big-fz);
    text-transform: capitalize;
    padding: 10rem;
}



/* HEADER */
header { 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    z-index: 1000;
    box-shadow: var(--box-shadow);
    padding: 2rem 8%;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header .logo img {
    width: 3rem;
}

header span {
    font-size: var(--medium-fz);
    color: #fff;
}

header .navbar ul {
    display: flex;
    gap: 3rem;
}

header .navbar ul li a {
    font-size: var(--small-fz);
    color: #fff;
    position: relative;
    text-transform: capitalize;
}

header .navbar ul li a::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    width: 0%;
    height: 0.2rem;
    background-color: dodgerblue;
    transition: 0.3s linear;
}

header .navbar ul li a:hover::before {
    left: 0;
    width: 100%;
}

header #menu {
    font-size: var(--medium-fz);
    color: #fff;
    cursor: pointer;
    display: none;
}
/* HEADER */



/* SECTION HOME */
 .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 9rem;
 }

 .home .image {
    padding: 1rem;
    flex: 1 1 40rem;
    text-align: center;
 }

 .home .content {
    padding: 1rem;
    flex: 1 1 40rem;
 }

 .home .content h2 {
    font-size: var(--big-fz);
    color: #fff;
    line-height: 1;
 }

 .home .content p {
    font-size: var(--small-fz);
    color: #fff;
    margin: 2rem 0rem;
    line-height: 1.2;
 }
/* SECTION HOME */


/* SECTION ABOUT */
.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2.5rem;
}

.about .row .content h3 {
    font-size: var(--big-fz);
    color: #fff;
}

.about .row .content p {
    font-size: var(--small-fz);
    color: #fff;
    padding: 2rem 0rem;
}

.about .row .content p i {
    color: dodgerblue;
    padding-right: 0.5rem;
}

.about .row .image {
    flex: 1 1 45rem;
    text-align: center;
}

.about .row .image img {
    border-radius: 1rem;
}
/* SECTION ABOUT */


/* SECTION FEATURES */
.features .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
}

.features .box-container .box {
    flex: 1 1 35rem;
    border: 2px solid rgb(0, 0, 0, .5);
    background-color: #232323;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.features .box-container .box span{
    position: absolute;
    display: block;
    background-color: dodgerblue;
}

.features .box-container .box span:nth-child(1) {
    left: 0;
    top: 0;
    width: 50.5%;
    height: 0.2rem;
    transform: scale(0);
    transition: .5s;
    transform-origin: left;
}

.features .box-container .box:hover span:nth-child(1) {
    transform: scale(1);
    transform-origin: right;
}

.features .box-container .box span:nth-child(2) {
    right: 0;
    top: 0;
    width: 50.5%;
    height: 0.2rem;
    transform: scale(0);
    transition: .5s;
    transform-origin: right;
}

.features .box-container .box:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: left;
}

.features .box-container .box span:nth-child(3) {
    right: 0;
    top: 0;
    width: 0.2rem;
    height: 100%;
    transform: scale(0);
    transition: .5s;
    transform-origin: bottom;
    transition-delay: .3s;
}

.features .box-container .box:hover span:nth-child(3) {
    transform: scale(1);
    transform-origin: top;
}

.features .box-container .box span:nth-child(4) {
    left: 0;
    top: 0;
    width: 0.2rem;
    height: 100%;
    transform: scale(0);
    transition: .5s;
    transform-origin: bottom;
    transition-delay: .3s;
}

.features .box-container .box:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: top;
}

.features .box-container .box span:nth-child(5) {
    left: 0;
    bottom: 0;
    width: 50.5%;
    height: 0.2rem;
    transform: scale(0);
    transition: .5s;
    transform-origin: right;
    transition-delay: .7s;
}

.features .box-container .box:hover span:nth-child(5) {
    transform: scale(1);
    transform-origin: left;
}

.features .box-container .box span:nth-child(6) {
    right: 0;
    bottom: 0;
    width: 50.5%;
    height: 0.2rem;
    transform: scale(0);
    transition: .5s;
    transform-origin: left;
    transition-delay: .7s;
}

.features .box-container .box:hover span:nth-child(6) {
    transform: scale(1);
    transform-origin: right;
}

.features .box-container .box i{
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 7rem;
    font-size: var(--medium-fz);
    box-shadow: var(--box-shadow);
}

.features .box-container .box h4{
    margin: 1.5rem 0rem;
    color: #fff;
    font-size: var(--small-fz);
}

.features .box-container .box p{
    text-align: justify;
    color: #fff;
    font-size: 1.5rem;
}
/* SECTION FEATURES */



/* MEDIA */
@media (max-width: 900px) {
    header .navbar{
        position: fixed;
        left: 0;
        top: -150%;
        width: 100%;
        background-color:#0e112c;
        transition: 1s all ease;
    }

    header .navbar.active{
        top: 9.2rem;
        transition: .8s all ease;
    }

    header #menu {
        display: block;
    }

    header .navbar ul {
        flex-direction: column;
        padding: 1rem;
    }

    header .navbar ul li {
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        display: block;
        background-color: var(--main-color);
        padding: .5rem;
        box-shadow: var(--box-shadow);
    }

    header .fa-times {
        transform: rotate(90deg);
    }
}
/* MEDIA */